
h1{
    text-align: center;
}



div.galeria{
    width: 100%;
    margin: 10px 10px;
    float: left;
    justify-content: center;
    width: 350px;
}

div.galeria img{
    width: 100%;
    margin: 10px 10px;
    justify-content: center;
    height: auto;
}

div.pie{
    text-align: center;
}